<h2>Transcripts  <%= link_to 'New Transcript', new_transcript_path, class: "btn btn-warning btn-xs"  %>
</h2>


<div class="row">
<div class="col-6">
<div class="table-responsive">
<table class="table table-striped table-hover table-condensed table-responsive">
  <tr>
    <th> Name  </th>
     <th> Speaker  </th>
    <th> File  </th>
    <th> Fate</th>
    <th> YouTube </th>
    <th> Text</th>
    <th> Lines </th>
    <th> Words</th>
    <th> Reading time</th>
    <th> Transcribed speech duration</th>
    <th> File duration</th>
    <th> </th>
    <th> </th>
    <th> </th>

    </tr>



    <% @transcripts.each do |t| %>
  <% a =[]  %>
<td><%= link_to "#{t.name}", transcript_path(t),  class: "btn btn-link" %></td>
    <td><%= link_to "#{t.speakername}", transcript_path(t),  class: "btn btn-link" %></td>
     <td><%= t.filename %></td>
    <td><%= t.date  %> </td>

<td> <%= link_to "Youtube", "#{t.youtubeurl}", :target => "_blank",  class: "btn btn-info btn-xs"%></td>
    <td><%= t.lines.first.text if t.lines.any? %> [...] </td>
    <td><%= t.lines.count %></td>
  <td><%= t.lines.map(&:text).to_s.scan(/\w+/).size %></td>
     <% word_count =  t.lines.map(&:text).to_s.scan(/\w+/).size %>
<td> <%= (word_count / 100.0).ceil %> minutes</td>

      <% c=[] %>
 <% t.lines.each do |l| %>
  <% time_in = Timecode.parse_with_fractional_seconds(l.tc_in, fps = 25) %>
<% time_out = Timecode.parse_with_fractional_seconds(l.tc_out, fps = 25) %>
<% c << time_out - time_in  %>
       <% end %>
<%= a.uniq.to_csv %>
     <td><%= c.sum %></td>

      <% last_time_out = Timecode.parse_with_fractional_seconds(t.lines.last.tc_out , fps = 25) if t.lines.last %>
  <td><%= last_time_out   %> </td>
    <td><%= link_to "show", transcript_path(t),  class: "btn btn-info btn-xs" %></td>
 <td><%= link_to "edit", edit_transcript_path(t), class: "btn btn-success btn-xs"  %></td>
  <td><%= link_to 'Delete', transcript_path(t),  class: "btn btn-primary btn-xs",
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>

</tr>
<% end %>
</table>
</div>
</div>
</div>

