<h1>Listing transcripts</h1>

<% if !@transcripts.empty? %>
<table>
  <thead>
    <tr>
      <th>Filename</th>
      <th>Speakername</th>
      <th>Date</th>
      <th>Youtubeurl</th>
      <th>Reel</th>
      <th>Tc meta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transcripts.each do |transcript| %>
      <tr>
        <td><%= transcript.filename %></td>
        <td><%= transcript.speakername %></td>
        <td><%= transcript.date %></td>
        <td><%= transcript.youtubeurl %></td>
        <td><%= transcript.reel %></td>
        <td><%= transcript.tc_meta %></td>
        <td><%= link_to 'Show', transcript %></td>
        <td><%= link_to 'Edit', edit_transcript_path(transcript) %></td>
        <td><%= link_to 'Destroy', transcript, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>
<br>

<%= link_to 'New Transcript', new_transcript_path %>
