
<!--  make table searchable -->
<!-- from http://jsfiddle.net/giorgitbs/52aK9/1/ -->
<script type="text/javascript" charset="utf-8">
$(document).ready(function () {

    (function ($) {

        $('#filter').keyup(function () {

            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).text());
            }).show();

        })

    }(jQuery));

});

</script>

<p id="notice"><%= notice %></p>

<p>
  <strong>Transcript Name:</strong>
  <%= @transcript.name %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @transcript.filename %>
</p>

<p>
  <strong>Speakername:</strong>
  <%= @transcript.speakername %>
</p>

<p>
  <strong>Date:</strong>
  <%= @transcript.date %>
</p>

<p>
  <strong>Youtubeurl:</strong>
  
  <%= link_to "#{@transcript.youtubeurl }",  @transcript.youtubeurl, :target => "_blank" %>

</p>

<p>
  <strong>Reel:</strong>
  <%= @transcript.reel %>
</p>

<p>
  <strong>Tc meta:</strong>
  <%= @transcript.tc_meta %>
</p>

<%= link_to 'Edit', edit_transcript_path(@transcript) %> |
<%= link_to 'Back', transcripts_path %>
<br>

<h1>Transcript</h1>

<!-- search header  -->
<div class="input-group"> <span class="input-group-addon">Search</span>

    <input id="filter" type="text" class="form-control" placeholder="Type here...">
</div>
<!-- end search header  -->
<table class="table table-striped table-hover table-condensed table-responsive">
  <thead>
    <tr>
       <th>N</th>
      <th>Tc in</th>
      <th>Tc out</th>
      <th>Text</th>
     
      <th>Note</th>
      <th>Tag</th>
      <th>Transcript</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="searchable">
    <% @transcript.lines.order("n asc").each do |line| %>
      <tr>
        <td><%= line.n %></td>
        <td><%= line.tc_in %></td>
        <td><%= line.tc_out %></td>
        <td><%= line.text %></td>
        <td><%= line.note %></td>
        <td><%= line.tag %></td>
        <td><%= line.transcript.name %></td>
       
        <td><%= link_to 'Edit', edit_transcript_line_path(@transcript,line) %></td>
        <td><%= link_to 'Destroy', transcript_line_path(@transcript, line), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

