    <script type="text/javascript" charset="utf-8">

  $(document).ready(function() {
      $tabs = $(".table");
      $('.tabs a').click(function(e) {
          e.preventDefault();
          $(this).tab('show');
      })
       
      $( "tbody.connectedSortable" ).sortable({
              connectWith: ".connectedSortable",
              items: "> tr:not(:first)",
              appendTo: $tabs,
              helper:"clone",
              zIndex: 999990,
              start: function(){ $tabs.addClass("dragging") },
              stop: function(){ $tabs.removeClass("dragging")
               ////////////////////////////////////////////,
               //  $table_to_update =   $tab_items.prevObject.get(2).innerText, //////////////////////
             // $table_to_update =   $tab_items.prevObject.get(2).innerHTML,
             ///////////////GETTING PAPER EDIT NUMBER ID
              pathname = window.location.pathname;
              $PaperEditID = pathname.match(/\d+/)[0];
              // console.log(pathname);
              // console.log($PaperEditID);
              //////////////END OF GETTING PAPER EDIT NUMBER ID
              /////////NUMBER OF LINES
              $nOfRows = $tab_items.prevObject.get(2).rows.length -1,
              ///LINE ID 
              // $ArrayOfROws=   $.makeArray($tab_items.prevObject.get(2).rows)
             $lineId = $tab_items.prevObject.get(2).rows[1].cells[0].id,
             $rows = $tab_items.prevObject.get(2).rows,
             $n =0,

             //////
             console.log($tab_items.prevObject);
             //JSON OBJECT
             $PaperEditLinesObject = {paperedit_id: $PaperEditID, lines:[]};
             
            jQuery.each( $rows, function(index, value) { 
                  if(value.cells[0]){
                     $id = value.cells[0].id; 
                  }else{
                    $id="LastRow";
                  }
                    console.log('row: ' + index +" cells: " +$id +" n: "+$n);
                     // $arrayOfLines = [  "line_id"+$id  , "position_"+index+"$ "]
                     $LineObject = {line_id: " " , position_id: " " };
                      $LineObject.line_id = $id;
                       $LineObject.position_id = index;

                     // $LineObject.position_id = index,
                     $PaperEditLinesObject.lines[$n]= $LineObject,
                    $n+=1; 
                });
            console.log($PaperEditLinesObject);
             $table_to_update =  $PaperEditLinesObject, ////

              //for eacj row firstChild.id = "line_id_61_position_4"
               // var json_text = JSON.stringify(your_object, null, 2);
               // console.log( String($table_to_update));
               console.log("table_to_update: ");
               console.log( $table_to_update);
                $myTableObjectAsJsonString =   JSON.stringify( $table_to_update),  
                 console.log("stringify: ");
                console.log($myTableObjectAsJsonString);
               ////////////////////////////////////////////
               // window.open(url, '_blank');
              //window.location.origin is equivalent of #{request.protocol}#{request.host} in rails
              var currentUrl =  window.location.origin;
              //creating JavaScript form to send to rails 
               var fd = new FormData();
               fd.append('somethins', $table_to_update);
               //add things to the form
               // fd.append('data',pp);
               //need to find a way to append actual @paperEdit

               console.log("object received back: ");
               $.ajax({
                  type: 'POST',
                  // dataType: 'script',
                  url: currentUrl +'/save_paper_edit/',
                  // currentUrl +'/save_paper_edit/',
                  // equivalent to localhost:3000/save_file in development mode.
                         
                    //data below works
                    //PROBLEM : how to pass actual object to rails
                    // POSSIBLE Solution, pass all objects in table, ie with serialize, and then update all of the LinePaperediting table in controller everytime. this would account for sortable within paper edit table, as well as for drag and drop.

                      // data: $myTableObjectAsJsonString,
                      data: $PaperEditLinesObject,
                      //{ line_papereditings: {line_id:  2, paperediting_id: $PaperEditID,  position: 12 }},

                      // data: { line_papereditings: {line_id:  2, paperediting_id: 11,  position: 12 }}, //I think this is only needed if you are passing a file?

                     // data : $('connectedSortable').serialize(),
                  // processData: false,
                   // contentType: "text/plain",
                   
                    dataType: 'json'
                }).done(function(data){

                  // when funciton done, returns data, rendered back from the controller.
                  // console.log(data)
                  location.reload()//TEMPORARY PATCH Reloads the page so that when changing the order or adding things to the 
                  // paper edit there are no duplacates due to problems with ajax and JQuery that I need to figure out.
                  // opens to the url received in response from the controller.
                  // window.location = data;//might not need this
                });
                //end

               ////////////////////////////////////////////
            }
          })
          .disableSelection()
      ;
      
      var $tab_items = $( ".tabs > li", $tabs ).droppable({

        accept: ".connectedSortable tr",
        hoverClass: "ui-state-hover",
        over: function( event, ui ) {
          var $item = $( this );
          $item.find("a").tab("show");
          
        },
        drop: function( event, ui ) {

          return false;
        }
      });

  //table searchable
        (function ($) {

        $('#filter').keyup(function () {

            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).text());
            }).show();

        })

    }(jQuery));
// best in place
         jQuery(".best_in_place").best_in_place();
  });



</script>

<p id="notice"><%= notice %></p>

  <!-- tables  -->

   <div class="container"> 
      <!-- Button trigger modal -->

  <!-- Button trigger modal -->
<div class="row"> 
<div class="col-xs-12 col-sm-7  col-md-7  col-lg-7 ">
    <h2><strong>Paper Edit:</strong> <%= best_in_place @paperedit, :projectname %> <small><%= link_to 'Edit', edit_paperedit_path(@paperedit),class: "btn btn-link" %> </small> </h2>


</div> <!-- col -->
<div class="col-xs-12 col-sm-5  col-md-5  col-lg-5 ">
<!--  show tags in this transcript -->


<h3> <small><span class="glyphicon glyphicon-tags" aria-hidden="true"></small> Tags</span> </h3>
<%  @arrayOfTags = []    %>
<% @allUserLines.each do |line|  %>
<% if line.tag != nil then @arrayOfTags << line.tag end %>
<%  end    %>
<%  @hashOfTags = @arrayOfTags.sort { |w1, w2| w2.casecmp(w1) }.each_with_object(Hash.new(0)) { |word,counts| counts[word] += 1 } %>



<ul class="nav nav-pills">
  <%   @hashOfTags.each do |tag, count| %>
  <% if tag != ""  %>
  <li class="active"><%= tag %> <span class="badge"><%= count %></span></li>
  <% end %>
  <% end %>
</ul>


 </div> <!-- col -->
</div> <!-- row -->
 <br>

    <div class="row">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Paper Edit: <strong><%= @paperedit.projectname %></strong>
            <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Close</button></h4>
          </div>
          <div class="modal-body">
                <p>  <strong><%= @paperedit.lines.order("n asc").map(&:text).to_s.scan(/\w+/).size  %></strong> Words,
                <% c=[] %>
      <%  @paperedit.lines.each do |l| %>
    <% time_in = Timecode.parse_with_fractional_seconds(l.tc_in, fps = 25) %>
    <% time_out = Timecode.parse_with_fractional_seconds(l.tc_out, fps = 25) %>
    <% c << time_out - time_in  %>
           <% end %>
       <strong>  <%= c.sum %></strong> Video Duration </p></p>
    <hr>

     <p> <% @paperedit.lines.each do |l| %>
            <strong><%= l.transcript.speakername %></strong>: "<%= l.text %>"</p>
           <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Close</button>

          </div>
        </div>
      </div>
    </div>

  <!--   end of modal -->

  <div class="row">

<!-- search header  -->
<div class="row">
   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
<div class="input-group"> <span class="input-group-addon">
 <span class="glyphicon glyphicon-search" aria-hidden="true"> </span>
</span>

</span>

    <input id="filter" type="text" class="form-control" placeholder="Type here to search the trasncripts...ie #aTag">
</div>
</div> <!-- col -->
</div> <!-- row -->
<!-- end search header  -->

  <!--     table test  -->

  <!-- CSS to make table -->
<style>
.spanScroll {  
    height: 500px !important;
    overflow: scroll;
}​
</style>



  <div class="table table-responsive" > 
      <div class="tab-content">
          <div class="tab-pane active" id="tab1">
          <div class="table-responsive col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <h3>Transcriptions</h3>
           
           <div class="spanScroll">
              <table class="table table-striped table-hover table-condensed table-responsive" id='table-draggable1'>  
                  <tbody class="connectedSortable searchable ">  
                      <tr>
                      <th></th>
                        <th>L</th>
                        <th>TC</th>
                        <th>Speaker </th>
                        <th>Transcribed Speech </th>
                        <th><span class="glyphicon glyphicon-tag" aria-hidden="true"><strong>Tag</strong></span></th>
                        </tr>
                        
                     
                        <% @allUserLines.each do |line| %>
                        <tr 
                        <%if @paperedit.lines.include?(line) %>
                       <%=  raw("class='success'").html_safe %>
                       <% elsif !line.tag.blank? %>
                        <%=  raw("class='warning'").html_safe %>
                       <% end %>
                        >
                       <td  id="<%=line.id %>Transcription"></td>
                        <td id="<%=line.id %>"><%= "#{line.n}" %></td>
                        <td ><%= line.tc_in  %> <br> <%= line.tc_out  %> </td>
                        <td><%= line.transcript.speakername if line.transcript %> </td>
                        <td><%= best_in_place line, :text, as: :textarea %></td>
                     
                         

                         <td><%= best_in_place line, :tag %></td>

                      </tr>  
                    
                      <% end %> 
                  </tbody> 
              </table>

          </div>
   </div> <!-- row -->
     
     </div>   <!-- overlow div -->
            

          <div class="pane" id="tab2">        
          <div class="table-responsive col-xs-12 col-sm-6 col-md-6 col-lg-6">  
 <div class="row">
    
            <h3>
            Paper Edit    
  


      <%= link_to raw("<span class='glyphicon glyphicon-film' aria-hidden='true'> EDL</span>").html_safe, paperedit_papercuts_path(format: "edl"), class: "btn btn-danger btn-xs" %>
      <%= link_to raw("<span class='glyphicon glyphicon-th-list' aria-hidden='true'> XML</span>").html_safe, paperedit_papercuts_path(format: "xml"), class: "btn btn-danger disabled btn-xs" %>
      <%= link_to raw("<span class='glyphicon glyphicon-list-alt' aria-hidden='true'> CSV</span>").html_safe, paperedit_papercuts_path(format: "csv"), class: "btn btn-danger btn-xs" %>
       <%= link_to raw("<span class='glyphicon glyphicon-file' aria-hidden='true'> Text</span>").html_safe, paperedit_papercuts_path(format: "text"), class: "btn btn-danger btn-xs" %>
      <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal">
        <span class="glyphicon glyphicon-file" aria-hidden="true"> Quick Text Preview</span>
  
    </button>   
</h3> 
</div> <!-- row -->
    
 
            <div class="spanScroll"> <!-- scrollable div -->
              <table class="table table-striped table-hover table-condensed table-responsive" id='table-draggable2'>  
                  <tbody class="connectedSortable">  
                     <tr>
                       <th id="00">N</th>
                       <th>L</th>
                      <th>tc</th>
                      <th>Speaker</th>
                      <th>Text</th>
                      <th>Tag</th>
                      <th></th>
                      <th><%= link_to "Clear All", "clear_all", class: "btn btn-primary btn-xs",
                            data: { confirm: 'Are you sure?' }
                       %></th>
                     



                        <% @papercuts.order("position asc").each do |papercut| %>
      <tr
       <% l = papercut.line %>
       <% if ((@paperedit.lines.where(id: l.id).size)>1) %>
       <%=  raw("class='info'").html_safe %>
       <% end %>
                       

      >
        <td  id="<%= if papercut.line then papercut.line.id  end %>Position<%= if papercut.line then papercut.position  end %>"><%= papercut.position %></td>
        <td>
          <% if !papercut.line.blank? %>
          <%= papercut.line.n %>
          
          <% else %> 
          NIL Line
          <% end %> 
        </td>
        <td><%= if papercut.line then papercut.line.tc_in end %><br><%= if papercut.line then papercut.line.tc_out end %></td>
        <td><%= if papercut.line then papercut.line.transcript.speakername end %></td>
        <td><%= if papercut.line then papercut.line.text end %></td>
          <td><%= if papercut.line then papercut.line.tag end %></td>
        <td> <%= link_to 'Edit', edit_paperedit_papercut_path(papercut.paperedit, papercut), class: "btn btn-success btn-xs" %></td>
    <td>
    <%= link_to 'Remove', paperedit_papercut_path(papercut.paperedit, papercut),  class: "btn btn-primary btn-xs",
                        method: :delete, data: { confirm: 'Are you sure?' } %></td>

            <% end %>   

          </tr>
                
                  </tbody> 
              </table> 
          </div>   <!-- col -->

  <div> <!-- tabbale -->
       </div> <!--    row -->
        </div>
  <!-- end table test -->
</div > <!--END of scrollable div -->

     
  </div><!-- div container -->
   </div><!-- div container -->
<br>
<hr>

<table class="table table-striped table-hover ">
  <strong>Legend<strong>

  <tbody> 
  
    <tr class="success">
      <td>1</td>
      <td>in Paper Edit</td>
      <td>Line that has been added to paper edit</td>
   
    </tr>
   
    <tr class="warning">
      <td>2</td>
      <td>Tag</td>
      <td>Line that has been tagged</td>

    </tr>
     <tr class="active">
      <td>3</td>
      <td>Unused</td>
      <td>Line that has not been tagged or added to paper edit</td>
      
    </tr>
    </tr>
     <tr class="info">
      <td>4</td>
      <td>Used multiple times</td>
      <td>Line has been used multiple times in same paper edit</td>
      
    </tr>
    
  </tbody>
</table> 


