<h1>Listing paperedits</h1>

<table>
  <thead>
    <tr>
      <th>Projectname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paperedits.each do |paperedit| %>
      <tr>
        <td><%= paperedit.projectname %></td>
        <td><%= link_to 'Show', paperedit_papercuts_path(paperedit) %></td>
        <td><%= link_to 'Edit', edit_paperedit_path(paperedit) %></td>
        <td><%= link_to 'Destroy', paperedit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paperedit', new_paperedit_path %>
